body 
{
    background-color: #F5F0BB
}
hr
{
    border-style: dotted none none;
    border-width: 5px;
    border-color: rgb(91, 89, 91);
    height: 2px;
    width: 10%;
}
h1
{
    color: rgb(97, 7, 122);
}
h3
{
    font-family:"Times New Roman" ;
    color:rgb(97, 7, 122);
}
